*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff: "Poppins", sans-serif;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 900;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3.2rem;
    --fs-h2: 2.45rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  font-family: var(--ff);
  font-size: var(--fs-body);
  margin: 0;
  background-color: rgb(248, 248, 248);
  color: #003301;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h1,
h2,
h3 {
  margin: 0;
}
