.recipes_container {
  margin: 0 auto;
  padding: 1em;
  max-width: 1100px;
  text-align: center;
}

.recipes_display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}
